<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <greeting_section>
            <general>
                <greeting_text>Hello!</greeting_text>
            </general>
        </greeting_section>
    </default>
</config>