<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="greeting_module" translate="label" sortOrder="5">
            <label>Greeting Module</label>
        </tab>
        <section id="greeting_section" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>General</label>
            <tab>greeting_module</tab>
            <resource>Magento_GreetingModule::greeting_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <field id="greeting_text" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Greeting</label>
                    <comment>This text will display on the frontend page /casestudy.</comment>
                </field>
            </group>
        </section>
    </system>
</config>